services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25569:25565"
    environment:
      EULA: "TRUE"
    volumes:
      - /mnt/docker-nfs/minecraft-data:/data