apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "metube.fullname" . }}-nfs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - addr=192.168.1.130
  nfs:
    server: 192.168.1.130
    path: /mnt/octaPool/k3s-storage/metube-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "metube.fullname" . }}-nfs-pvc
  namespace: {{ .Release.Namespace }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: {{ include "metube.fullname" . }}-nfs-pv