apiVersion: v1
kind: PersistentVolume
metadata:
  name: authentik-db-nfs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - addr=192.168.1.130
  nfs:
    server: 192.168.1.130
    path: /mnt/octaPool/k3s-storage/authentik-data/authentik-db
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authentik-db-nfs-pvc
  namespace: default
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: authentik-db-nfs-pv