apiVersion: v1
kind: PersistentVolume
metadata:
  name: kaneo-nfs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - addr=192.168.1.130
  nfs:
    server: 192.168.1.130
    path: /mnt/octaPool/k3s-storage/kaneo-data/
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kaneo-nfs-pvc
  namespace: default
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: kaneo-nfs-pv