apiVersion: v1
kind: PersistentVolume
metadata:
  name: homepage-nfs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - addr=192.168.1.130
  nfs:
    server: 192.168.1.130
    path: /mnt/octaPool/k3s-storage/homepage-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homepage-nfs-pvc
  namespace: default
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: homepage-nfs-pv