services:
  composetoolbox:
    image: ghcr.io/bluegoosemedia/composetoolbox
    ports:
      - "4000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    volumes:
      - /mnt/docker-nfs/compose-toolbox/data:/app/data 