services:
  actual_server:
    image: actualbudget/actual-server:26.1.0-alpine@sha256:34aae5813fdfee12af2a50c4d0667df68029f1d61b90f45f282473273eb70d0d
    # ports:
    #   - 5006:5006
    volumes:
      - /mnt/docker-nfs/volumes/actual-data:/data
    healthcheck:
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.actual-insecure.rule=Host(`actual-budget.mistyfumes.dev`)"
      - "traefik.http.routers.actual-insecure.entrypoints=http"
      - "traefik.http.routers.actual-insecure.middlewares=https-redirect@file"
      - "traefik.http.routers.actual-secure.rule=Host(`actual-budget.mistyfumes.dev`)"
      - "traefik.http.routers.actual-secure.entrypoints=https"
      - "traefik.http.routers.actual-secure.tls=true"
      - "traefik.http.routers.actual-secure.tls.certresolver=cloudflare"
      - "traefik.http.services.actual.loadbalancer.server.port=5006"
    networks: 
      - frontend

networks:
  frontend:
    external: true