services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - /mnt/docker-nfs/bezel-data/beszel_data:/beszel_data
      - /mnt/docker-nfs/bezel-data/beszel_socket:/beszel_socket

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /mnt/docker-nfs/bezel-data/beszel_agent_data:/var/lib/beszel-agent
      - /mnt/docker-nfs/bezel-data/beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: https://beszel.mistyfumes.dev
      TOKEN: ${TOKEN}
      KEY: ${KEY}