services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "4533:4533"
    restart: unless-stopped
    volumes:
      - "/mnt/docker-nfs/volumes/navidrome-data:/data"
      - "/mnt/octapool-nfs/music:/music:ro"