apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: it-tools
  namespace: flux-system
spec:
  interval: 15m
  targetNamespace: default
  chart:
    spec:
      chart: ./kubernetes/services/it-tools/my-it-tools
      valuesFiles:
        - ./kubernetes/services/it-tools/my-it-tools/prod-values.yaml
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system