services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "3150:8080"
    volumes:
      - /mnt/docker-nfs/volumes/open-webui-data:/app/backend/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  faster-whisper:
    image: lscr.io/linuxserver/faster-whisper:gpu
    container_name: faster-whisper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
      - WHISPER_MODEL=tiny-int8
      - LOCAL_ONLY= #optional
      - WHISPER_BEAM=1 #optional
      - WHISPER_LANG=en #optional
    volumes:
      - /mnt/docker-nfs/volumes/faster-whisper-data:/config
    ports:
      - 10300:10300
    restart: unless-stopped