apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: immich
  namespace: flux-system
spec:
  interval: 15m
  url: https://immich-app.github.io/immich-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: default
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: immich
      version: '0.10.3'
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
      interval: 5m
  valuesFrom:
    - kind: ConfigMap
      name: immich-values
      valuesKey: values.yaml
  releaseName: my-immich
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  test:
    enable: true