services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    ports:
      - '8083:8080'
    volumes:
      - /mnt/docker-nfs/volumes/stirling-data:/configs
    restart: unless-stopped