services:
  jellyfin:
    image: linuxserver/jellyfin:10.11.6@sha256:45814a5515fdb81cd41f5db946cfd53a3c5e91f0665b40b55bae30cab4b3cd2e
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /mnt/docker-nfs/volumes/jellyfin-data:/config
      - /mnt/octapool-nfs/blu-ray:/data/blu-ray
      - /mnt/octapool-nfs/dvds:/data/dvds
      - /mnt/octapool-nfs/tv:/data/tv
    # ports:
    #   - 8096:8096
    restart: unless-stopped
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [all]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin-insecure.rule=Host(`jellyfin.mistyfumes.dev`)"
      - "traefik.http.routers.jellyfin-insecure.entrypoints=http"
      - "traefik.http.routers.jellyfin-insecure.middlewares=https-redirect@file"
      - "traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.mistyfumes.dev`)"
      - "traefik.http.routers.jellyfin-secure.entrypoints=https"
      - "traefik.http.routers.jellyfin-secure.tls=true"
      - "traefik.http.routers.jellyfin-secure.tls.certresolver=cloudflare"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    networks:
      - frontend

networks:
  frontend:
    external: true