services:
  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:10.11.6@sha256:8daa84b40dedbb1307d8958728be583f98334a2b0ae17a8c584fbcb64103b678
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
    volumes:
      - /mnt/docker-nfs/volumes/jellyfin-data:/config
      - /mnt/octapool-nfs/blu-ray:/data/blu-ray
      - /mnt/octapool-nfs/dvds:/data/dvds
      - /mnt/octapool-nfs/tv:/data/tv
    ports:
      - 8096:8096
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # HTTP router
      - "traefik.http.routers.jellyfin-insecure.rule=Host(`jellyfin.mistyfumes.dev`)"
      - "traefik.http.routers.jellyfin-insecure.entrypoints=http"
      - "traefik.http.routers.jellyfin-insecure.middlewares=https-redirect@file"
      # HTTPS router
      - "traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.mistyfumes.dev`)"
      - "traefik.http.routers.jellyfin-secure.entrypoints=https"
      - "traefik.http.routers.jellyfin-secure.tls=true"
      - "traefik.http.routers.jellyfin-secure.tls.certresolver=cloudflare"
      # Service port
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    networks:
      - frontend
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [all]

networks:
  frontend:
    external: true