services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5436:5432"
    volumes:
      - /mnt/docker-nfs/volumes/kaneo-data:/var/lib/postgresql/data
    restart: unless-stopped
    env_file:
      - stack.env

  api:
    image: ghcr.io/usekaneo/api:2.0.9
    ports:
      - "1337:1337"
    restart: unless-stopped
    env_file:
      - stack.env

  web:
    image: ghcr.io/usekaneo/web:2.0.9
    ports:
      - "5173:5173"
    restart: unless-stopped
    env_file:
      - stack.env