services:
  dockpeek:
    image: dockpeek/dockpeek:latest
    container_name: dockpeek
    environment:
      SECRET_KEY: ${SECRET_KEY}
      USERNAME: ${USERNAME}
      PASSWORD: ${PASSWORD}
    ports:
      - "3420:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped