apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAg4/r7UsoH9qgn294EuxIDQvyBoNQlJljq+6vE3pPju11i4T1dd/Rp+ixZByAdmASVVlstXJTDoh90h0YSDFKDGAj/RQqSwa+MoERJRTu4PztdDT5dupd20sYA3DqHaxGGMMvBAaY1JbchSMZ8J63nvy4tHKDoN+NvT5TNrH2lSsUfpZe38z1i5Hcz6a6KEZyUg3h0GB16QxJkVH6hiiLd3aIniy+QBxFZs/qhzJs+l8gpG5zHPhzERKkeBxDEf3U0a1NF9jaRCH9BMyDG/OX4ZV40CwzjLdtbgX4UBUUJWVBkxQS214TfeXN04Squuwj/d2yrZEdX3FnmT0VIrMpB7WL//4FJB3bUB5WqpB1TQ/xi6X0lwmtZIUrPC7uaI/G/k01ZEO/JI/r4iddNJc5OGnonp7VPv1TWGNt6Bjkx9okKUjpfIsgRxEuM0WDXGQtgn7nmLCK99oh0QMrp00lrVkxf0aIEMYfV3SCdxHhrrX2pL0n0fHAs4He6wbKI4QVJPrDdd9vM/I6AtkJCGNHZftZGhP9HF4KMzENLvyUrEod1RheOXRTXZpgpiJ0v4+dMFWMNlQEnznDmMOiQwZwN/hXHQXSuU4uc/jVrBlk6i9j0Cumg1ifjoOHvWphNpdbnn8HQRpirnZqpdpYoi+mvJ7A8Nuf9sG7WIyq1xfcn8r4ZeRqQUbBSEl5y9Nixyo1mb6ylCk+MN6Gu54twFGcw/b9xXUE3MLSyI4LfjMQg3f1pt3yApgku
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
---
